<h1>Car List</h1>
<% if @cars %>
  <% @cars.each do |car| %>
  <h3><%= "#{car.color} #{car.manufacturer.name} - #{car.year}, #{car.mileage} miles" %></h3>
    <p><%= car.description %></p>
  <% end %>
<% end %>
